  <footer class="text-muted py-5">
    <div class="container">
      <p><%= @copyright %></p>
      <p><%= link_to "view all portfolio items", portfolios_path, class: "btn btn-outline-primary" %></p>
    </div>  
  </footer>